{
  "extends": ["@magister_zito/react", "prettier"],
  "plugins": ["graphql"],
  "settings": {
    "import/internal-regex": "^@@/"
  },
  "overrides": [
    {
      "files": ["**/*.ts"],
      "parserOptions": {
        "project": ["./tsconfig.json"]
      }
    },
    {
      "files": ["cypress.config.ts", "cypress/**/*.ts"],
      "parserOptions": {
        "project": ["./cypress/tsconfig.json"]
      }
    }
  ],
  "ignorePatterns": [".cache", "data", "content", "fixtures"]
}
