{
  "extends": [
    "@magister_zito/react",
    "prettier"
  ],
  "plugins": [
    "graphql"
	],
  "overrides": [
		{
			"files": ["**/*.ts"],
			"parserOptions": {
				"project": ["./tsconfig.json", "./cypress/tsconfig.json"]
			}
		}
	],
  "ignorePatterns": [
    ".cache",
    "data",
    "content",
    "fixtures"
  ]
}
