// TODO add actual font-face declaration here
@import
  url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;700&display=swap');

html,
body {
  padding: 0;
  border: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  // here, we set the root font-size in order to
  // create a custom baseline that will henceforth equal 1 rem
  // this further allows us to easily change all measurements on our site
  // with a single, simple setting

  // finally, this approach mitigates the need for complex media queries
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;

  /* Container */
  background: $main-background-color;

  /* Font */
  color: $main-foreground-color;
  font-family: 'Inconsolata', monospace;
  font-size: $grid-height;
  font-variation-settings:
    "wdth" $main-font-width,
    "wght" $main-font-weight,
    "slnt" $main-font-slant;
  hyphens: auto;
  line-height: calc(3 * var(--base));
  overflow-x: hidden;
}

main {
  max-width: var(--width);
  padding: $grid-gutter;
  padding-bottom: 3rem;
  margin: 0 auto;
  margin-top: calc(9 * var(--base));
}

/* Native Elements */

// Headings

h1,
h2,
h3 {
  margin: 0;
  font-variation-settings:
    "size" $heading-size,
    "quad" $heading-quad,
    "bevl" $heading-bevl,
    "oval" $heading-oval;
  hyphens: none;
  line-height: 1.2em;
}

h3,
h4 {
  margin: 0;
  margin-top: calc(2 * $grid-height);
  font-size: inherit;
  font-variation-settings:
    "size" $subheading-size,
    "quad" $subheading-quad,
    "bevl" $subheading-bevl,
    "oval" $subheading-oval;
}

h5,
h6 {
  margin: 0;
}

strong {
  font-variation-settings:
    "wdth" $main-font-width,
    "wght" $main-font-weight,
    "slnt" $main-font-slant;
  font-weight: 700;
  $main-font-weight: 700;
}

em {
  font-style: italic;
  $main-font-slant: 10;

  font-variation-settings:
    "wdth" $main-font-width,
    "wght" $main-font-weight,
    "slnt" $main-font-slant;
}

code {
  hyphens: none;
}

time {
  font-size: $main-font-md;
  font-variation-settings:
    "size" $heading-size,
    "quad" $heading-quad,
    "bevl" $heading-bevl,
    "oval" $heading-oval;
}

a {
  color: $main-success-color;
  text-decoration: none;

  &:hover {
    font-size: 1.15em;

    @include transform(1.01, 0.1s);
  }
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100%;
}

/* Unique Identifiers */

#app {
  min-height: 100vh;
}

/* Paper */
.paper {
  position: absolute;
  z-index: 980;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: fade-in 4s;
  background-size: calc(2px * var(--paper-size));
  opacity: 0.012;
  pointer-events: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}
