// TODO add actual font-face declaration here
@import
  url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;700&display=swap');

html,
body {
  margin: 0;
  border: 0;
  padding: 0;
}

html {
  // here, we set the root font-size in order to
  // create a custom baseline that will henceforth equal 1 rem
  // this further allows us to easily change all measurements on our site
  // with a single, simple setting

  // finally, this approach mitigates the need for complex media queries
  font-size: 16px;

  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* Container */
  background: $main-background-color;
  position: relative;

  /* Font */
  color: $main-foreground-color;
  font-family: 'Inconsolata', monospace;
  font-variation-settings:
    "wdth" $main-font-width,
    "wght" $main-font-weight,
    "slnt" $main-font-slant;
  font-size: $grid-height;
  line-height: $grid-height + $grid-gutter;
  overflow-x: hidden;
  hyphens: auto;
}

main {
  max-width: var(--width);
  margin: 0 auto;
  margin-top: calc(9 * var(--base));
  padding: $grid-gutter;
}

/* Native Elements */

// Headings

h1,
h2,
h3 {
  margin: 0;
  font-variation-settings:
    "size" $heading-size,
    "quad" $heading-quad,
    "bevl" $heading-bevl,
    "oval" $heading-oval;
  line-height: 1.2em;
  hyphens: none;
}

h3,
h4 {
  font-size: inherit;
  margin: 0;
  margin-top: calc(2 * $grid-height);
  font-variation-settings:
    "size" $subheading-size,
    "quad" $subheading-quad,
    "bevl" $subheading-bevl,
    "oval" $subheading-oval;
}

strong {
  font-weight: 700;
  $main-font-weight: 700;
  font-variation-settings:
    "wdth" $main-font-width,
    "wght" $main-font-weight,
    "slnt" $main-font-slant;
}

em {
  font-style: italic;
  $main-font-slant: 10;
  font-variation-settings:
    "wdth" $main-font-width,
    "wght" $main-font-weight,
    "slnt" $main-font-slant;
}

code {
  hyphens: none;
}

time {
  font-variation-settings:
    "size" $heading-size,
    "quad" $heading-quad,
    "bevl" $heading-bevl,
    "oval" $heading-oval;
}

a {
  text-decoration: none;
  color: $main-success-color;
}

/* Unique Identifiers */

/* Noise */
.noise {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: calc(2px * var(--noise-size));
  pointer-events: none;
  opacity: 0.012;
  z-index: 980;
  animation: fade-in 4s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}
